body {
    margin: o;
}

.head {
    width: 100vh;
    height: 5vh;
    display: flex;
    border: 2px;
    margin: 3rem;
    padding: auto;
    font-size: 2rem;
}

.container {
    width: 100vh;
    display: flex;
    border: 2px;
    margin: 3rem;
    justify-content: center;
    padding: auto;
}

.container div {
    display: flex;
    border: 10px black;
    text-align: center;
    background: grey;
    width: 30rem;
    height: 30rem;
    margin: 2px;
}

.row h2 {
    color: rgb(51, 46, 46);
    font-weight: bold;
}
